.table-messages-wrap {
  .tb-col-name {
    width: 200px;
  }
  .tb-col-mobile {
    width: 140px;
  }
  .tb-col-email {
    width: 240px;
  }
  .tb-col-type {
    width: 140px;
  }
  .tb-col-timestamp {
    width: 200px;
  }
}



